---
slug: /configuration
title: Configuration
---

## Environment variables

You can configure the database at runtime using various environment variables:

- `{{ envprefix }}_HOST` -
  host on which the database will be listening
  (default: `0.0.0.0`)
- `{{ envprefix }}_PORT` -
  port on which the database will be listening
  (default: `{{ port }}`)
- `{{ envprefix }}_WEB_PORT` -
  port on which the web interface will be available
  (default: `{{ webport }}`)
- `{{ envprefix }}_WEB_PUBLIC_URL` -
  public URL of the web interface
  (default: `http://localhost:{{ webport }}`)
- `{{ envprefix }}_ADMIN_USER` -
  username for the admin user
  (default: `admin`)
- `{{ envprefix }}_ADMIN_PASSWORD` -
  password for the admin user
  (default: `password`)
- `{{ envprefix }}_READONLY_USER` -
  username for the readonly user
  (default: `readonly`)
- `{{ envprefix }}_READONLY_PASSWORD` -
  password for the readonly user
  (default: `password`)
- `{{ envprefix }}_READWRITE_USER` -
  username for the readwrite user
  (default: `readwrite`)
- `{{ envprefix }}_READWRITE_PASSWORD` -
  password for the readwrite user
  (default: `password`)
