---
slug: /config
title: Configuration
---

## Environment variables

You can configure the database at runtime using various environment variables:

- `{{ envprefix }}__SERVER__HOST` -
  host on which the database will be listening
  (default: `0.0.0.0`)
- `{{ envprefix }}__SERVER__PORTS__S3` -
  port on which the database will be listening
  (default: `{{ port }}`)
- `{{ envprefix }}__SERVER__PORTS__WEB` -
  port on which the web interface will be available
  (default: `{{ webport }}`)
- `{{ envprefix }}__URLS__WEB` -
  public URL of the web interface
  (default: `http://localhost:{{ webport }}`)
- `{{ envprefix }}__CREDENTIALS__ADMIN__USER` -
  username for the admin user
  (default: `admin`)
- `{{ envprefix }}__CREDENTIALS__ADMIN__PASSWORD` -
  password for the admin user
  (default: `password`)
- `{{ envprefix }}__CREDENTIALS__READONLY__USER` -
  username for the readonly user
  (default: `readonly`)
- `{{ envprefix }}__CREDENTIALS__READONLY__PASSWORD` -
  password for the readonly user
  (default: `password`)
- `{{ envprefix }}__CREDENTIALS__READWRITE__USER` -
  username for the readwrite user
  (default: `readwrite`)
- `{{ envprefix }}__CREDENTIALS__READWRITE__PASSWORD` -
  password for the readwrite user
  (default: `password`)
