services:
  {{ databasename }}:
    build:
      context: ./
      network: host
    environment:
      - "{{ envprefix }}__CREDENTIALS__ADMIN__PASSWORD=${ {{- envprefix }}__CREDENTIALS__ADMIN__PASSWORD:-password}"
      - "{{ envprefix }}__CREDENTIALS__ADMIN__USER=${ {{- envprefix }}__CREDENTIALS__ADMIN__USER:-admin}"
      - "{{ envprefix }}__CREDENTIALS__READONLY__PASSWORD=${ {{- envprefix }}__CREDENTIALS__READONLY__PASSWORD:-password}"
      - "{{ envprefix }}__CREDENTIALS__READONLY__USER=${ {{- envprefix }}__CREDENTIALS__READONLY__USER:-readonly}"
      - "{{ envprefix }}__CREDENTIALS__READWRITE__PASSWORD=${ {{- envprefix }}__CREDENTIALS__READWRITE__PASSWORD:-password}"
      - "{{ envprefix }}__CREDENTIALS__READWRITE__USER=${ {{- envprefix }}__CREDENTIALS__READWRITE__USER:-readwrite}"
      - "{{ envprefix }}__SERVER__HOST=${ {{- envprefix }}__SERVER__HOST:-0.0.0.0}"
      - "{{ envprefix }}__SERVER__PORTS__S3=${ {{- envprefix }}__SERVER__PORTS__S3:-{{ port -}} }"
      - "{{ envprefix }}__SERVER__PORTS__WEB=${ {{- envprefix }}__SERVER__PORTS__WEB:-{{ webport -}} }"
      - "{{ envprefix }}__URLS__WEB=${ {{- envprefix }}__URLS__WEB:-http://localhost:{{ webport -}} }"
    network_mode: host
    volumes:
      - data:/database/data/

volumes:
  data: {}
