services:
  {{ databasename }}:
    build:
      context: ./
      network: host
    environment:
      - "{{ envprefix }}_HOST=${ {{- envprefix }}_HOST:-0.0.0.0}"
      - "{{ envprefix }}_PORT=${ {{- envprefix }}_PORT:-{{ port -}} }"
      - "{{ envprefix }}_WEB_PORT=${ {{- envprefix }}_WEB_PORT:-{{ webport -}} }"
      - "{{ envprefix }}_WEB_PUBLIC_URL=${ {{- envprefix }}_WEB_PUBLIC_URL:-http://localhost:{{ webport -}} }"
      - "{{ envprefix }}_ADMIN_USER=${ {{- envprefix }}_ADMIN_USER:-admin}"
      - "{{ envprefix }}_ADMIN_PASSWORD=${ {{- envprefix }}_ADMIN_PASSWORD:-password}"
      - "{{ envprefix }}_READONLY_USER=${ {{- envprefix }}_READONLY_USER:-readonly}"
      - "{{ envprefix }}_READONLY_PASSWORD=${ {{- envprefix }}_READONLY_PASSWORD:-password}"
      - "{{ envprefix }}_READWRITE_USER=${ {{- envprefix }}_READWRITE_USER:-readwrite}"
      - "{{ envprefix }}_READWRITE_PASSWORD=${ {{- envprefix }}_READWRITE_PASSWORD:-password}"
    network_mode: host
    volumes:
      - data:/database/data/

volumes:
  data: {}
